body
{
    font-family: Arial;
}

#product_add
{
    width: 50%;
    border-bottom: 4px solid black;
    float: left;
}

#product_list
{
    height: 300px;
    margin: auto;
    width: 50%;
    float: right;
}

#user_calc
{   
    width: 50%;
    float: left;
}

#sum
{
    float: right;
}

#calc_tools input 
{
    display: inline-block;
    width: 50px;
}